*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.section1{
    width: 100vw; 
    min-height: 656px;
    background-image: url(cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
     position: relative;
     display: flex;
     justify-content: center;
     
}
.shade{
    width: 100vw;
    height: 656px;
    background-color: black;
    opacity: 70%;
}
.division{
    width: 100vw;
    height: 10px;
    background-color: rgb(41, 40, 40);
    /* position: absolute; */
    /* bottom: 0px; */
}
.container{
    max-width: 1024px;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
    
}

/* <-----Nav bar start-----> */

nav{
    width: 100vw;
    max-width: 1024px;

    display: flex;
    align-items: center;
    padding: 24px 33px;
    
    overflow: hidden;
}
nav img{
    height: 2.5rem;
}
.drop-down{
    
    width: fit-content;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    font-family: sans-serif;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 0px 10px;
    gap: 4px;
    border: 1px solid rgb(121, 120, 120);
    backdrop-filter: blur(3px);
    color: white;
    background-color: rgba(31, 29, 29, 0.7);
    margin-left: auto;  
}

.drop-down img:nth-child(1){
    height: 18px;
}
.drop-down p:nth-child(2){
    font-size: 15px;
    margin-left: 5px;

}
.drop-down img:nth-child(3){
    /* height: 50px; */
    width: 22px;
    
}
nav .sign-in{
    background-color: #E50914;
    width: 75px;
    display: grid;
    place-items: center;
    height: 30px;
    border: 1px solid #E50914;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-left: 25px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    &:hover{
        background-color: #c2060f;
    }
}
/* <-----Nav bar end-----> */

/* <-----Section1-----> */

.section1-text-container{
    align-self: center;
    /* background-color: white ; */
    width: 100%;
    margin-top: 20px;
    margin: auto;
    height: fit-content;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding: 30px 0px ;
    box-sizing: border-box;
    gap: 30px;
    color: white;

}
.section1-text-container h2{
    font-size: 42px;
    font-weight: bolder;
    letter-spacing: -2px;
}
.section1-text-container p{
    font-size: 18px;
    font-weight: 500;

}
.section1-text-container p:nth-child(2){
    font-size: 22px;

}
.get-started-email{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.email-bar-container{
    height: 54px;
    max-width:350px ;
    width: 100%;
    position: relative;
}
.email-bar-container input{
height: 54px;
width: 100%;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 20px;
font-size: 16px;
border: 1px solid #bbb8b7;
background-color: rgba(41, 41, 41, 0.5);
color: white;
border-radius: 5px;

}
.placeholder{
    position: absolute;
    top: 18px;
    left: 20px;
    color: #bbb8b7;
    font-size: 15px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}
.email-bar-container input:focus + .placeholder,
.email-bar-container input:not(:placeholder-shown) + .placeholder{
    top: 10px;
    font-size: 11px;
}
.email-bar-container input:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.get-started{
    height: 54px;
    width: 200px;
    border-radius: 5px;
    background-color: #E50914;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
    gap: 15px;
    &:hover{
        background-color: #c2060f;
    }
    cursor: pointer;
}
.get-started p{
    font-size: 20px;
    font-weight: 600;

}
.get-started img{
    height: 20px;
}
/* <--- Section2 start ---> */
.section2{
    width: 100vw; 
    height: 500px;
    /* position: relative; */
    background-color: black;
    display: flex;
    justify-content: center ;
}

.container2{
    position: static;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
    flex-wrap: wrap;
}
.text-section2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    gap: 20px;
    color: white;

}
.vid-section2{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-section2 h3{
    font-family: 'poppins';
    font-size: 2.813rem;


}
.text-section2 p{
    font-size: 1.313rem;
}
.vid-section2 img{
    width: 100%;
    position: absolute;
    z-index: 5;
}
.vid-section2 video{
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* <--- Section2 start ---> */

/* <-- section3 start--> */
.mobile{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container3{
    position: relative;
    width: 100%;
}
.mobile{
    position: relative;
}
.mobile >img {
    position: absolute;
    aspect-ratio: 1;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}
.mobile-top-slide{
    max-height: 100px;
    padding: 10px 8px;
    width: 60%;
    background-color: yellow;
    position: absolute;
    z-index: 20;
    bottom: 110px;
    display: flex;
    border: 2px solid #5A5A5A;
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5   0px 2px black;
    align-items: center;

}
.mobile-top-slide img:nth-child(1){
    width: 50px;
}

.mobile-top-slide img:nth-child(3){
    width: 70px;
    height: 3.75rem;
    width: 3rem;
    
}
.text-inside{
    width: 60%;
    text-align: left;
    
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 16px;
}
.text-inside h2{
    font-size: 1rem;
    font-weight: 600;

}
.text-inside p{
    font-size: 0.875rem;
    color: #0554a8;

}
.text-section3{
    width: 50%;
    height: 100%;
    text-align: left;
    color: white;
    display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
  
}
.text-section3 h3{
    font-family: 'poppins';
  font-size: 2.813rem;
  line-height: 50px;
    font-weight: 700;
}
.text-section3 p{
    font-size: 1.313rem;
}
/* <-- section3 End--> */

/* <-- section4 start--> */

 .text-section4{
    width: 50%;
 }
 .multi-device-video{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
 .multi-device-video .video{
    position: absolute;
    top: 38%;
    left: 49%;
    transform:translate(-50%,-50%) ;
    width: 64%;
  height: 100%;
  max-width: 63%;
  max-height: 41%;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    overflow: hidden;
}

.multi-device-video img{
    width: 100%;
    position: absolute;

}
.text-section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 35px;
    padding-right: 20px;
    gap: 20px;
    color: white;
}
.text-section4 h3{
    font-family: 'poppins';
    font-size: 2.813rem;
    line-height: 50px;
      font-weight: 700;
}
.text-section4 p{
    font-size: 1.313rem;
}

/* <-- section4 End--> */
